.Paper {
  padding: 1rem;
  margin: 1rem;
  height: 15rem;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  cursor: pointer;
  flex-direction: column;
  background-color: whitesmoke;
  /* background-image: linear-gradient(rgba(225,225,225,0.5), rgba(225,225,225,0.5)); */
}
.Main{
  margin: 1rem;
  max-width: 85vw;
}
.Row{
  display: flex;
  /* justify-content: space-between; */
}
.ValueAlign{
  display: flex;
  align-items: center;
}
.Button{
  align-self: flex-end;
  background-color: #51c9f5;
  background: linear-gradient(-45deg, #0c9ed4 0%, #51c9f5 100%);
  
}
.Link{
  text-decoration: none;
}
.Subtitle{
  flex: 0 0 70%;
}
.TopPart{
  display: block;
}
